**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py

# custom
/tools/official_transform
/tools/eval_kitti_val_gen_lidar1
/tools/eval_kitti_val_raw_lidar1
/tools/eval2_lidar1_npys
/tools/eval2_lidar2_npys
/tools/eval2_lidar3_npys
/tools/eval2_lidar2_iou06f_bo_20_26_5_npys
/tools/eval2_lidar2_iou07f_bo_20_26_5_npys



